@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This work was performed by: Medvedsky Evgeny Vecheslavovich. Minsk. BNTU.</p>
<h3>1. Scope of this Privacy Policy</h3>
<p>
    This Privacy Policy only applies to your use of the Websites and/or
    the Service and does not extend to any websites or services that are referenced by to linked to from the Websites,
    whether by Us or another user. Your use of any other websites or service is subject to that website’s or service’s
    privacy policy and we have no control over how your data is collected, used, or stored by other websites or services.
    You are advised to check the privacy policies of any such websites or services before providing data to them.
</p>
<h3>2. Information You Provide To Us:</h3>
<p>The information we collect on or through the Websites and/or Service may include:</p>
<ul>
    <li>
        Information that you provide by filling in forms on the Website and/or Service.
        This includes information provided at the time of registering to use the Service,
        subscribing to the Services, posting material on the Service, or requesting further services.
        We may also ask you for information when you enter a contest or promotion sponsored by us,
        and when you report a problem with the Websites and/or Service.
    </li>
    <li>
        Records and copies of your correspondence (including email addresses), if you contact us.
    </li>
    <li>
        Your responses to surveys that we might ask you to complete for research purposes.
    </li>
    <li>
        Details of transactions you carry out through our Website and of the fulfillment of your orders.
        You may be required to provide financial information before placing an order through the Websites
    </li>
    <li>
        Your search queries on the Websites or via the Service
    </li>
    <li>
        Your name, contact information (including, without limitation, address and email address), photograph,
         and information for your public profile.
    </li>
</ul>
<p>
    You also may provide information to be published or displayed (hereinafter, "posted")
    on public areas of the Websites or via the Service, or transmitted to other users of the
    Websites or third parties (collectively, "User Contributions"). Your User Contributions are posted
    on and transmitted to others at your own risk. Although we limit access to certain pages, please be
    aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions
    of other users of the Websites or Service.
</p>
<h3>3. Information We Collect Through Automatic Data Collection Technologies:</h3>
<p>
    The information we collect automatically is only statistical data and does not include personal information,
    but we may maintain it or associate it with personal information we collect in other ways or receive from third parties.
    The technologies we use for this automatic data collection may include cookies.
</p>
<ul>
    <li>
        Cookies (or browser cookies) Cookies are a small file placed on the hard drive of your device.
        You may refuse to accept browser cookies by activating the appropriate setting on your browser.
        However, if you select this setting you may be unable to access certain parts of the Websites or Service.
        Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies
        when you direct your browser to the Websites and/or Service.
    </li>
</ul>
<p>
    If you delete your cookies, change browsers or use a different cookie, our cookie (or an opt-out cookie)
    may no longer work and you will have to reinput (or opt-out) again.
</p>