@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в магазин наручных часов WatchStore</h1>
    <p>На этом сайте вы найдете подходящие для вас часы</p>
</div>
