@page
@using WatchStore.Data
@model WatchStore.Pages.WatchesModel
@inject AppDBContent DbContext

@{
    DBObjects.Initial(DbContext); // Инициализируем базу данных
    var watches = DbContext.Watch.ToList(); // Получаем список часов из базы данных
}

<div>
    <form method="post" asp-page-handler="Filter">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <select class="form-select" name="Category" aria-label="Категории">
                    <option value="All">Все</option>
                    <option value="Mechanical">Механические</option>
                    <option value="Electronic">Электронные</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="From" aria-label="From" name="From">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="To" aria-label="To" name="To">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">Отфильтровать</button>
            </div>
        </div>
    </form>
    <p></p>
    <div class="row">
        @Model.DisplayWatches(watches)
    </div>
</div>