@page
@model WatchStore.Pages.WatchesModel
@using Data.Mocks;

@{
    MockWatches mockWatches = new MockWatches();
}

<div class="row">
    @foreach (var watch in mockWatches.Watches)
    {
        <div class="col-sm-4 mb-4">
            <div class="card h-100">
                <img src="@watch.Img" class="card-img-top" alt="@watch.Name">
                <div class="card-body">
                    <h5 class="card-title">@watch.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>
